### Command to create pivot tables in Pandas:
<br><b>
df.pivot(columns='grouping_variable_col', values='value_to_aggregate', index='grouping_variable_row')
</b>

The pivot_table() function can be used to also specify the <b>aggregate function</b> that you would want Pandas to execute over the columns that are provided. It could be the same or different for each column in the DataFrame. <br>
You can write the pivot_table command as shown below:

<b>df.pivot_table(values, index, aggfunc={'value_1': np.mean,'value_2': [min, max, np.mean]})</b>

### Dataframe Pivot Table
Description - Group the data 'df' by 'month' and 'day' and find the mean value for column 'rain' and 'wind' using the pivot table command.

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://cdn.upgrad.com/uploads/production/b3467ba4-4e13-44e9-8087-4d7e94cc7586/forestfires.csv')
df_1 = df.pivot_table(index=["month","day"],values=["rain","wind"], aggfunc="mean") 
print(df_1.head(20))

               rain      wind
month day
apr   fri  0.000000  3.100000
      mon  0.000000  3.100000
      sat  0.000000  4.500000
      sun  0.000000  5.666667
      thu  0.000000  5.800000
      wed  0.000000  2.700000
aug   fri  0.066667  4.766667
      mon  0.000000  2.873333
      sat  0.000000  4.310345
      sun  0.025000  4.417500
      thu  0.000000  3.503846
      tue  0.300000  4.567857
      wed  0.000000  3.520000
dec   fri  0.000000  4.900000
      mon  0.000000  8.500000
      sun  0.000000  8.500000
      thu  0.000000  4.900000
      tue  0.000000  8.500000
      wed  0.000000  8.000000
feb   fri  0.000000  4.820000

<hr><hr>